trino[sqlalchemy]
sqlalchemy-trino
confluent-kafka[avro]
avro-python3
fastavro
httpx
requests
psycopg2-binary
redis
clickhouse-connect
clickhouse-driver
kafka-python
confluent-kafka
boto3
s3fs
pyarrow
pandas
polars
duckdb
plotly
bokeh
altair
seaborn
matplotlib
pyspark==3.5.0
delta-spark==3.0.0
jupyterlab-git
jupyterlab-lsp
python-lsp-server[all]
black
isort
ipywidgets
nbresuse
jupyterlab-execute-time
